---
import TechChip from "./TechChip.astro";

type FrontmatterType = {
  title: string;
  description: string;
  stack: string[];
  category?: string;
  imageUrl: string;
  featured: boolean;
};

export interface Props {
  frontmatter: FrontmatterType;
  readmeUrl: string;
}

const { frontmatter, readmeUrl } = Astro.props;
---

<div class="bg-zinc-700 p-4 flex flex-col gap-2 rounded-lg">
  <div class="flex justify-between items-center flex-row flex-wrap">
    <h3 class="font-nunito text-lg lg:text-xl xl:text-3xl">
      {frontmatter.title.toLocaleLowerCase()}.
    </h3>
    {
      frontmatter.category && (
        <div class="px-4 md:py-1 bg-cyan-500 text-sm rounded-full">
          {frontmatter.category}
        </div>
      )
    }
  </div>
  <img
    src={frontmatter.imageUrl}
    alt="Project screenshot / showcase image."
    class="rounded-md"
  />
  <div class="px-2 flex flex-row flex-wrap gap-4">
    {frontmatter.stack.map((tech) => <TechChip tech={tech} />)}
  </div>
  <p class="flex-grow">{frontmatter.description}</p>
  <a
    href={readmeUrl}
    class="p-2 font-nunito text-center text-zinc-900 bg-fuchsia-500 hover:bg-fuchsia-600 rounded-lg transition-all"
    >Read More.</a
  >
</div>
